
*.bak 
*.cache
*.dll 
*.log 
*.obj 
*.suo 
*.swp 
*.user
src/*.user
*ReSharper* 
*resharper* 
_ReSharper*/
*/obj/*
obj/
[Bb]in
[Rr]elease*/
[Dd]/ebug*/
*.obj
_compareTemp 
_notes 
aspnet_client 
bin 
bin/*
httpd.parse.errors 
obj  
Thumbs.db 
build
bin
Bin
ClientBin
*.suo

.tmp/
.build/
.api/
.rpt/
bower_components/
node_modules/


# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
